/*mobile nav menu*/
.slicknav_menu{display: none;}
@media screen and (max-width:992px){
    #menu{
        display: none;
    }
    .slicknav_menu{
        display: inline-block;
        position: fixed;
        z-index: 1000;
        background: transparent;
        right: 0;
        margin: 140px 5px;
    }
    header{
        margin-top: 100px;
        //background-color: blue;
    }
    .slider{
        margin-top: -100px;
        padding-top: 215px;
    }
    .slicknav_btn{
        background-color: #7e5c88;
    }
    .slicknav_nav {
        background-color: #7e5c88;
        width: 200px;	
        border: 1px solid #7e5c88;
    }
    .slicknav_nav li{
        margin: 0px;
        padding: 0px;
        height: 3em;
        line-height: 3em;
        width: 200px;
    }
    .slicknav_nav li a{
        margin: 0px;
        padding: 0 10px;
    }
    .slicknav_nav li a:hover, .slicknav_nav li.actvie a{
        color: #7e5c88;
        background-color: #ffffff;
        border-radius: 0px;
        transition: all 0.5s ease-out;
    }

}

@media screen and (max-width:330px){

}